{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/index.css",
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf"
}
