@import '@fontsource-variable/roboto-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Twemoji Mozilla';
  src: url('assets/Twemoji.Mozilla.ttf') format('truetype');
}

:root {
  font-family: 'Roboto Mono Variable', 'Twemoji Mozilla';
}

::-webkit-scrollbar {
  display: none;
}
