@import '@fontsource/fira-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Twemoji Mozilla';
  src: url('assets/Twemoji.Mozilla.ttf') format('truetype');
}

:root,
[data-theme='wireframe'],
[data-theme='cyberpunk'] {
  font-family: 'Fira Sans', 'Twemoji Mozilla', system-ui, monospace;
}

::-webkit-scrollbar {
  display: none;
}
