name: e2e

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  e2e-test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest

      - name: install dependencies
        run: pnpm install

      - name: install playwright browsers
        run: pnpm playwright install chromium

      - name: build with mock mode
        run: pnpm build:mock

      - name: run e2e tests
        run: pnpm test:e2e
