name: release

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release-please:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

    steps:
      - name: release-please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.CI_TOKEN }}
          release-type: node

  release-assets:
    permissions:
      contents: read
      packages: write

    needs: release-please

    runs-on: ubuntu-latest

    if: ${{ needs.release-please.outputs.release_created }}

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest

      - name: install dependencies
        run: pnpm install

      - name: build
        run: pnpm build

      - name: publish gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.CI_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
          cname: d.metacubex.one
          commit_message: ${{ needs.release-please.outputs.tag_name }}

      - name: compress dist
        run: tar czvf compressed-dist.tgz -C dist .

      - name: attach github release artifacts
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.CI_TOKEN }}
          files: compressed-dist.tgz
          tag_name: ${{ needs.release-please.outputs.tag_name }}

  release-image:
    permissions:
      contents: read
      packages: write

    needs: release-please

    runs-on: ubuntu-latest

    if: ${{ needs.release-please.outputs.release_created }}

    steps:
      - uses: actions/checkout@v5

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - uses: docker/setup-buildx-action@v3
        id: buildx

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CI_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: Dockerfile
          load: true
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/metacubex/metacubexd:latest
            ghcr.io/metacubex/metacubexd:${{ needs.release-please.outputs.tag_name }}
